/* Стили для кнопок */
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff; /* Белый текст */
    background-color: transparent; /* Прозрачный фон */
}

.coin-button img {
    animation: none; /* Убираем анимацию мигания только для изображений кнопок монеты */
}

/* Стили для кнопки монетки */
.coin-button {
    background: none;
    border: none;
    cursor: pointer;
}

.coin-button img {
    width: 300px;
    height: 300px;
    animation: none; /* Убираем анимацию мигания */
}

/* Стили для видео в качестве заднего фона */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Дополнительные стили из моего CSS */

.container {
    padding: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Выравнивание по центру по горизонтали */
}

/* Стили для анимации мигания кнопок */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

button:hover, .coin-button:hover img {
    animation: pulse 0.5s infinite alternate;
}

/* Окно баланса */
#balance-window {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

#balance {
    color: #333;
    font-weight: bold;
}
/* Стили для падающих монеток */
.coin {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 2s linear;
    z-index: 9999;
}

.coin img {
    width: 50px;
    height: 50px;
}
